{% extends "vero_fasion/base.html" %}

{% block content %}
<div class="container-fluid padding">
	<div class="row">
		<div class="col-3"></div>
		<div class="col-6">
			<h4><small>Informacja o ochronie prywatności Zakup online</small></h4>
			<hr class="light-100">
			<h4><small>Dlaczego wykorzystujemy twoje dane osobowe?</small></h4>

			<p>
				Będziemy wykorzystywać Twoje dane osobowe do zarządzania zakupami online w Vero Fashion, przetwarzając Twoje zamówienia i zwroty za pośrednictwem naszych usług online i wysyłamy powiadomienia o stanie dostawy lub w przypadku problemów z dostawą Twoich produktów.
Będziemy wykorzystywać Twoje dane osobowe do zarządzania Twoimi płatnościami.
Będziemy również wykorzystywać Twoje dane w celu rozpatrywania reklamacji i gwarancji dotyczących produktów.
Twoje dane osobowe są wykorzystywane do identyfikacji użytkownika i potwierdzenia wieku do zakupów online oraz do potwierdzenia adresu u partnerów zewnętrznych.
Chcemy zaoferować różne opcje płatności i przeprowadzimy analizę w celu ustalenia, jakie opcje płatności są dostępne, w tym historii płatności i czeków kredytowych.
			</p>

			<h4><small>Jakie rodzaje danych osobowych przetwarzamy?</small></h4>

			<p>
				Będziemy przetwarzać następujące kategorie danych osobowych<br>
- dane kontaktowe, takie jak imię i nazwisko, adres, adres e-mail i numer telefonu<br>
- informacje o płatności i historia płatności<br>
- Szczegóły zamówienia<br><br>
Jeśli masz konto Vero Fashion, będziemy również przetwarzać Twoje dane osobowe przesłane w związku z kontem, takie jak<br>
- ID konta<br>
- historia zakupów
			</p>

			<h4><small>Jaka jest podstawa prawna przetwarzania Twoich danych osobowych?</small></h4>

			<p>
				Przetwarzanie twoich danych osobowych jest konieczne, aby Vero Fashion mogła wykonać usługę zarządzania i dostarczenia Ci zamówienia.
			</p>

			<h4><small>Jak długo przechowujemy twoje dane?</small></h4>

			<p>
				Będziemy przechowywać Twoje dane tak długo, jak długo będziesz aktywnym klientem.
			</p>
		</div>
		<div class="col-3"></div>
	</div>
</div>
{% endblock %}