{% extends "vero_fasion/base.html" %}

{% block content %}
<div class="container-fluid padding">
	<div class="row">
		<div class="col-3"></div>
		<div class="col-6">
			<h4><small>Polityka zwrotu i zwrotu pieniędzy</small></h4>
			<hr class="light-100">
			<h5><small>Nasze zwroty są bezpłatne i łatwe. Jeśli coś jest nie tak, masz 14 dni na odesłanie go do nas.</small></h5><br>

			<p>
				Nasze zwroty są bezpłatne i łatwe. Mamy nadzieję, że spodoba ci się wszystko, co zamówisz u nas, ale jeśli coś jest nie tak, masz 14 dni na odesłanie go do nas.<br><br>
 
Dajemy Ci pełny zwrot kosztów przy użyciu tej samej metody, której użyłeś do zapłaty, i prosimy, aby produkty były zwracane czyste, nienoszone i miały wszystkie ich tagi na<br><br>
 
Jeśli zdecydujesz się zwrócić coś, upewnij się, że jest w idealnym stanie. To znaczy...<br>
- czyste (bez dezodorantów, plam z perfum lub makijażu)<br>
- nienoszony<br>
- niemyte<br><br>
 
Należy pamiętać, że produkty zakupione przez Internet można zwrócić lub wymienić w dowolnym z naszych sklepów.
			</p>

			<h4><small>Kiedy otrzymam zwrot pieniędzy?</small></h4>

			<p>
				Twój zwrot powinien zająć maksymalnie 14 dni, aby dotrzeć do nas i zostać przetworzone. 
				<br>Zawsze staramy się być tak szybko, jak to możliwe, ale w ruchliwych okresach (takich jak święta i wyprzedaże) może to potrwać nieco dłużej.<br><br>
				Możesz oczekiwać zwrotu pieniędzy w ciągu 14 dni od wysłania go do nas.
				<br>Po przetworzeniu zwrotu otrzymasz wiadomość e-mail z potwierdzeniem zwrotu. Jeśli w tym czasie nie otrzymałeś od nas potwierdzenia zwrotu, skontaktuj się z obsługą klienta Vero Fashion.
			</p>

		</div>
		<div class="col-3"></div>
	</div>
</div>
{% endblock %}